<p id="notice"><%= notice %></p>

<p>
  <strong>SC:</strong>
  <%= @service_center.name %>
</p>

<%= link_to '編集', edit_service_center_path(@service_center) %> |
<%= link_to '戻る', service_centers_path %>
